<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <nav>
            <ul>
        {% if user.is_authenticated %}
            Hello, {{user.username}}
            <li><a href="{%url 'create_receipt'%}">Create</a></li>
            <li><a href="{%url 'logout' %}">Logout</a></li>
        {%else%}
            <li><a href="{% url 'signup' %}">Sign up</a></li>
            <li><a href="{% url 'login' %}">Login</a></li>
        {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <h1>Expense Category</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number</th>
                    <th>Number of Receipts</th>
                </tr>
            </thead>
            <tbody>
                {% for accounts in account_object %}
                <tr>
                    <td>{{ accounts.name }}</td>
                    <td>{{ accounts.number }}</td>
                    <td>{{ accounts.receipts.count }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

</body>

</html>
